/* Обнуление */
*,
* ::before,
* ::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  background: #fafafa;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}
/* ****************************** */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* подталкиваем  footer  вниз */
  display: flex;
  flex-direction: column;
}
/* ******************************* */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

/* *****Шапка******************************************************************** */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
/* ********* FLEX  ЭЛЕМЕНТ*************/
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
/* ************************************************ */

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
/* ******************************************************* */
.header__menu {
  margin: 0px 0px 0px 133px;
}
/* **********adaptive**************************************** */
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}
/* ********************************************************** */

/* При адаптиве меню не будет прилипатся к верх */
.menu {
  padding: 5px 0;
}

.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__item {
}
/* отступ будет кроме последного элемента  */
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  /* макет / размер шрифта * 100% */
  line-height: calc(24 / 14 * 100%);
}
/* когда ширина экрана будет 479px  размер меню будет 18px */
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/* ********************************************************************** */
/* *********MAIN****PAGE******************************************** */
.page {
  /* позволим  main  увеличиваться */
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  /* поднимаем карточки на верх над контентом */
  position: relative;
  z-index: 2;
  margin: -30px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}

/* ************ALL HEADER BLOCK********************************************************** */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}
.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  line-height: 142%;
  color: #737373;
}
@media (max-width: 992px) {
  .header-block__sub-title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__sub-title {
    font-size: 30px;
  }
}

/* **********FOOTER******************************************/
.footer {
}

/* ***********MAIN-BLOCK************************************/
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 330px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 115px 0px 170px 0px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 120px 0px 35px 0px;
  }
}
/* Обращаемся к .main-block__body > * первого уровня вложенности и укажем отступ 35 px к всем элем  */
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 * 58 / 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #585757;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}
/**** Адаптивная кнопка **********************************/
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  padding: 5px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0px;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (max-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}
.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}
/* *********SERVICES************************************ */

.services {
}
.services__container {
}
._container {
}
.services__body {
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.services__column {
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}
.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 35px;
  /* height: 100%; */
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}
.item_service {
}
.item-service__green {
  background: #0d5c63;
}
.item-service__green .item-service__title {
  color: #fff;
}
.item-service__green .item-service__text {
  color: #fff;
}

.item_service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__icon {
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-service__text {
  color: #737373;
}
/* *********advantages************************************* */
.advantages {
  padding: 80px 0px;
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}
.advantages__container {
}
.advantages__header {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}
.advantages__column {
  padding: 0 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  font-size: 16px;
  line-height: 115%;
  color: #737373;
}

/* ****** PRACTICE ADVICE *************************************/

.practice {
  padding: 60px 0 80px 0;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0 40px 0;
  }
}
.practice__container {
}
._container {
}
.practice__header {
  margin: 0 0 45px 0;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
}
.header-block {
}
.header-block__title {
}
.header-block__sub-title {
}
.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0 0px 30px 0;

  flex: 0 1 25%;
}
@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    padding: 0px 20px;
    flex: 0 1 100%;
  }
}
.practice__item {
}
.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: inline-block;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__title {
  padding-bottom: 15px;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}
/* ********** WHO WE ARE **********************************/

.whoweare {
  padding: 80px 0 130px 0;
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }
}
.whoweare__container {
}
._container {
}
.whoweare__header {
  margin: 0 0 100px 0;
}
@media (max-width: 950px) {
  .whoweare__header {
    margin: 0 0 30px 0;
  }
}
.header__block {
}
.header-block__title {
}
.header-block__sub-title {
}
.header__block {
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .whoweare__body {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}

.whoweare__video {
  flex: 0px 0px 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}
@media (max-width: 1080px) {
  .whoweare__content {
    flex: 1 1 auto;
    padding: 0 0 0 50px;
  }
}
@media (max-width: 992px) {
  .whoweare__content {
    padding: 0 0 0 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__text {
  color: #737373;
  line-height: 142%;
  padding: 0 0 30px 0;
}
.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  color: #737373;
  line-height: 142%;
  white-space: nowrap;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}
